.container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 20px;
  padding: 0 10%;
  justify-content: center;
}
.sub-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.sub-container-img {
  max-height: 50%;
  overflow: hidden;
}
.product-img {
  height: 300px;
  width: 100%;
  transition: 0.7s;
}
.sub-container-img :hover {
  transform: scale(1.1);
}
.body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 15px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.pagination-btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
